<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Youtube</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  
</head>
<body>
  <div id="nav">
   <div id="nav1">
    <i class="ri-menu-line"></i>
    <img src="../images/YouTube-Logo-removebg-preview.png" alt="">
    
   </div>
   <div id="nav2">
    <input type="text" placeholder="Search..">
    <i class="ri-mic-fill"></i>
   </div>
   <div id="nav3">
    <i class="ri-add-box-fill"></i>
    <i class="ri-notification-fill"></i>
    <h5>Sign-in</h5>
   </div>
  </div>
  <div id="main">
    <div id="left">
   <div id="left1">
    <h4> <img src="../images/home img.png" alt=""> Home</h4>
    <h4> <img src="../images/shorts img.webp" alt=""> Shorts</h4>
    <h4> <img src="../images/subscription img.png" alt=""> Subscriptions</h4>
   </div>
   <div id="left2">
    <h3>You ></h3>
    <h5> <img src="../images/your channel logo.png" alt=""> Your Channel</h5>
    <h5> <img src="../images/history logo.png" alt="">  History</h5>
    <h5> <img src="../images/your videos logo.png" alt=""> Your videos</h5>
    <h5> <img src="../images/logo 4.png" alt=""> Watch later</h5>
    <h5> <img src="../images/show more logo.jpeg" alt=""> Show more</h5>
   </div>
   <div id="left3">
    <h2>Subscriptions
    </h2>
    <h4> <img src="../images/logo 1.jpeg" alt=""> Jonathan</h4>
    <h4> <img src="../images/YouTube-Logo-removebg-preview.png" alt=""> Apna College</h4>
    <h4> <img src="../images/logo 3.jpeg" alt=""> Gamexnews</h4>
    <h4> <img src="../images/logo 2.jpg" alt=""> songs</h4>
    <h4> <img src="../images/logo 3.jpeg" alt=""> sports</h4>
    <h4><img src="../images/YouTube-Logo-removebg-preview.png" alt="">Mortal</h4>
    <h4> <img src="../images/show more logo.jpeg" alt=""> show more</h4>
   </div>
   <div id="left4">
    <h3> Explore</h3>
    <h4> <img src="../images/trending logo.png" alt=""> Trending</h4>
    <h4><img src="../images/shopping logo.png" alt=""> Shopping</h4>
    <h4> <img src="../images/music logo.png" alt=""> Music</h4>
    <h4><img src="../images/movies logo.jpeg" alt=""> Movies</h4>
    <h4> <img src="../images/live logo.png" alt=""> live</h4>
    <h4> <img src="../images/gaming logo.png" alt=""> Gaming</h4>
    <h4> <img src="../images/news logo.png" alt=""> News</h4>
    <h4> <img src="../images/sports logo.png" alt=""> Sports</h4>
   </div>
   <div id="left5">
    
    <h3> <img src="../images/settings logo.jpeg" alt=""> Settings</h3>
    <h3> <img src="../images/help logo.jpeg" alt=""> Help</h3>
    <h3><img src="../images/history logoooo.png" alt=""> Report History</h3>
    <h3> <img src="../images/feedback logo.jpeg" alt=""> Send Feedback</h3>
    
   </div>
   <div id="left6">
    <h5>About Press Copyright <br> Contact us Creators <br> Advertise Developers</h5>
    <h4>Terms Privacy Policy & Safety How YouTube worksTest new features</h4>
   </div>
    </div>
    <div id="right">
      <div id="right1">
        <h3>ALL</h3>
       <a id="pop" href="/register"> <h3>Music</h3></a>
        <h3>Javascript</h3>
        <h3>honey singh</h3>
        <h3>Computer science</h3>
        <h3>Tmkoc</h3>
        <h3>lectures</h3>
        <h3>Live</h3>
        <h3>Gaming</h3>
        <h3>mixes</h3>
      </div>
        <div id="right2">
         <div class="elem">
          <img src="https://i.ytimg.com/vi/ZpszSj3ziQk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLC8kB8tcKOMANM1dJJjiX28lip8jg" alt="">
         <h4>Backend End Game-1 |part-1| learn  what <br> matters <br> <span id="a">sheryians coding school</span><br> <span id="b">25k views : 1 month ago</span></h4>
        
        </div>
         <div class="elem">
          <img src="https://i.ytimg.com/vi/fYePEy7cpRE/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDLGR-HC1XHafikA6LcXjN267dHfA" alt="">
           <h4> shree radhe radhe radhe barsaane waali <br> raadhe.. mathura vrindawan dham <br> <span id="c">T-Series </span> <br> <span id="d">1 Billion views : 10 years ago</span></h4>
        </div>
         <div class="elem">
          <img src="https://i.ytimg.com/vi/XAA06B4_EKg/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLB6vNCzrAm6LkJDCPIYeN8Qxn8U1w" alt="">
          <h4>KALASTAR Yo Yo Honey Singh 2.0 ... <br> Desi kalakar is back <br> <span id="e">MTV-Originals</span><br> <span id="f">20 Million Views : 15 days ago</span></h4>
        </div>
         <div class="elem">
          <img src="https://i.pinimg.com/736x/dc/42/87/dc42871fd45f02521897f88695937da5--television-tv.jpg" alt="">
          <h4>Jethalal Flirts with Babitaji comedy... <br> jethalal loves flirting <br> <span id="g">SONY SAB</span> <br> <span id="h">40 Million views: 5 Years Ago</span> </h4>
         </div>
         <div class="elem">
          <img src="https://th.bing.com/th/id/OIP.UQjY-k7yyy471UxpzBSuOQHaEK?pid=ImgDet&rs=1" alt="">
          <h4>Virat Kohli's INCREDIBLE 100 aginst Sri lanka  <br> back with a 100 <br> <span id="i">SPORTS 1</span> <br> <span id="j">40 Million views: 2 Years Ago</span> </h4>

         </div>

         <div class="elem">
          <img src="https://sidtimes.files.wordpress.com/2020/10/maxresdefault-47.jpg?w=1024&h=632&crop=1" alt="">
          <h4> Daaru with Dad | Part-2 | is Here ... <br> Watch Enjoy Like and Share <br> <span id="k">Harsh Beniwal</span> <br> <span id="l">20 Million views: 1 Years Ago</span> </h4>

         </div>
        </div>
        <div id="right3">
          <div class="new">
            <img src="https://th.bing.com/th/id/OIP.2xXWUaew86jGq1WCL9NWSgHaNK?pid=ImgDet&rs=1" alt="">
            <h5>Munna Bhaiya the king <br> of mirzapur <br> <span>10 million views</span></h5>
          </div>
          <div class="new">
            <img src=" https://w0.peakpx.com/wallpaper/366/747/HD-wallpaper-jonathan-jonathan-gaming-esports-johny-tsm-entity-godlike-pubg-bgmi-thumbnail.jpg " alt="">
            <h5>Jonathan's Epic 1vs4 agianst<br> x spark <br> <span>14 million views</span></h5>
          </div>

          <div class="new">
            <img src="https://i.ytimg.com/vi/QmeHnG5ZbYU/maxresdefault.jpg" alt="">
            <h5>Ashish chanchlani vines funny <br> videos <br> <span>12 million views</span></h5>

          </div>

          <div class="new">
            <img src="https://staticg.sportskeeda.com/editor/2019/08/bcce5-15649518268565-800.jpg" alt="">
            <h5>Rohit Sharma hits two big <br>sixes for win <br> <span>50 million views</span></h5>

          </div>
          <div class="new">
            <img src="https://st1.bollywoodlife.com/wp-content/uploads/2020/05/dilip-joshi-and-munmun-dutta-taarak-mehta-ka-ooltah-chashmah.jpg" alt="">
            <h5>Jetha and babitaji flirting <br>tmkoc.... <br> <span>80 million views</span></h5>
            
          </div>
        </div>
        <div id="right4">
          <div class="poo">
            <img src="https://th.bing.com/th?id=OIF.B%2fJlPyN0mh8LKxVKxCSi0w&pid=ImgDet&rs=1" alt="">
            <h4>Team India Dressing Room Medal Ceremony <br> After Won vs Sri Lanka <br>
             <span id="x">Aaj Kal</span> <br>
             <span id="y">20K views : 2 hours ago</span> </h4>
          </div>
          <div class="poo">
            <img src="https://th.bing.com/th/id/OIP.tEyhABJ5G17U8eihBsTXtQHaEK?pid=ImgDet&rs=1" alt="">
            <h4>Akash Gupta | Excuse me brother <br> stand-up-comedy <br>
              <span id="x">Aakash Gupta</span> <br>
              <span id="y">24 MIllion views : 1 Year ago</span> </h4>
          </div>
          <div class="poo">
            <img src="https://th.bing.com/th/id/R.9fecaa8d2f28f8aa48b06fff7e773580?rik=zSLWoOPWdnoz4g&riu=http%3a%2f%2fi.ytimg.com%2fvi%2f-_2IHqLA6F8%2fmaxresdefault.jpg&ehk=09mhTSez96DDZXbzCKFlSknCZfgJA%2bWFYDP2%2fpanMac%3d&risl=&pid=ImgRaw&r=0" alt="">
            <h4>Tera Mera Rishtaaa | Emraan Hashmi<br> MIX -- <br>
              <span id="x">MTV-ORIGINALS</span> <br>
              <span id="y">44 MIllion views : 6 Year ago</span> </h4>
          </div>
        </div>
      
    </div>
    k mai
  </div>
  
</body>
</html>